@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

#alltabs-button {
    display: none !important;
}

#navigator-toolbox {
    font: 13pt "JetBrainsMono Nerd Font Mono" !important;
}

#PersonalToolbar {
  --toolbarbutton-inner-padding: 0px !important;
  --toolbarbutton-outer-padding: 0px !important;
  --tab-min-height: 13pt !important;
  --urlbar-container-height: 13pt !important;
}

.toolbar-menupopup {
    min-height: 13pt;
    --arrowpanel-menuitem-padding: 0px;
}

.menu-iconic-icon {
    /* Bookmark Icons */
    width: 13pt;
    height: 13pt;
}
