theme = "{{ .color.name }}"

[themes.{{ .color.name }}]
accent = "{{ .color.magenta_fg }}"
border_focused = "{{ .color.fg_bright }}"
border_dim = "{{ .color.fg_dim }}"
fg_dim = "{{ .color.fg_dim }}"
fg_normal = {{ .color.fg }}"
fg_bright = "{{ .color.fg_bright }}"
fg_added = "{{ .color.green_fg }}"
fg_removed = "{{ .color.red_fg }}"
fg_key = "{{ .color.blue_fg }}"
bg_header = "{{ .color.bg_dim }}"
bg_selection = "{{ .color.bg_bright }}"
bg_accepted = "{{ .color.bg }}"
bg_rejected = "{{ .color.bg }}"
bg_modal_dim = "{{ .color.bg_dim }}"
bg_modal = "{{ .color.bg_bright }}"
border_modal = "{{ .color.fg }}"
bg_key_badge = "{{ .color.magenta_bg }}"
fg_separator = "{{ .color.fg_dim }}"
fg_badge = "{{ .color.bg }}"
# Syntax / diff
bg_added = "{{ .color.bg_bright }}"
bg_removed = "{{ .color.bg_bright }}"
fg_line_num = "{{ .color.fg_dim }}"
fg_added_marker = "{{ .color.green_fg }}"
fg_removed_marker = "{{ .color.red_fg }}"
# Root background
bg_default = "{{ .color.bg }}"
