clipboard_control write-clipboard write-primary
mouse_map left click ungrabbed no-op
mouse_map ctrl+left click ungrabbed mouse_handle_click selection link prompt
mouse_map ctrl+left press ungrabbed mouse_selection normal
# Everything above this comment was copied from u/ttys3-net's comment on https://www.reddit.com/r/KittyTerminal/comments/tx7rt2/disable_url_opening_on_just_single_click/
# I just fixed an apparent typo switching "norma" to "normal"
# This just makes it so I have to Ctrl+Click a link to open it instead of being able to do it with a normal click, since I kept accidentally opening links
font_size 13

font_family family="JetBrainsMono Nerd Font Mono"

notify_on_cmd_finish invisible 60 notify-bell

# Default: 2000
scrollback_lines 10000

# Stuff for kitty-scrollback.nvim
allow_remote_control socket-only
listen_on unix:/tmp/kitty
shell_integration enabled
# kitty-scrollback.nvim Kitten alias
action_alias kitty_scrollback_nvim kitten /home/z/.local/share/nvim/lazy/kitty-scrollback.nvim/python/kitty_scrollback_nvim.py
# Browse scrollback buffer in nvim
map kitty_mod+h kitty_scrollback_nvim
# Browse output of the last shell command in nvim
map kitty_mod+g kitty_scrollback_nvim --config ksb_builtin_last_cmd_output
# Show clicked command output in nvim
mouse_map ctrl+shift+right press ungrabbed combine : mouse_select_command_output : kitty_scrollback_nvim --config ksb_builtin_last_visited_cmd_output

# Measured in MBs
scrollback_pager_history 500
scrollback_pager less --raw-control-chars

cursor            {{ .color.bg_bright }}
cursor_text_color {{ .color.fg_dim }}

url_color {{ .color.blue_fg }}

# visual_bell_color #8ec07c
# bell_border_color #8ec07c

# active_border_color   #d3869b
# inactive_border_color #665c54

foreground           {{ .color.fg }}
background           {{ .color.bg }}
selection_foreground {{ .color.fg_dim }}
selection_background {{ .color.bg_bright }}

# active_tab_foreground   #fbf1c7
# active_tab_background   #665c54
# inactive_tab_foreground #a89984
# inactive_tab_background #3c3836

color0  #000000
color8  {{ .color.bg_bright }}

color1  {{ .color.red_bg }}
color9  {{ .color.red_fg }}

color2  {{ .color.green_bg }}
color10 {{ .color.green_fg }}

color3  {{ .color.yellow_bg }}
color11 {{ .color.yellow_fg }}

color4  {{ .color.blue_bg }}
color12 {{ .color.blue_fg }}

color5  {{ .color.magenta_bg }}
color13 {{ .color.magenta_fg }}

color6  {{ .color.cyan_bg }}
color14 {{ .color.cyan_fg }}

color7  {{ .color.fg_dim }}
color15 {{ .color.fg_dim }}
