# i3blocks configuration file
#
# The i3blocks man page describes the usage of the binary,
# and its website describes the configuration:
#
#     https://vivien.github.io/i3blocks


# Global properties
separator=true
separator_block_width=15

[stats]
color={{ .color.fg }}
interval=persist
command=scripts/stats

[bandwidth]
color={{ .color.fg }}
command=scripts/bandwidth
interval=5
#INTERFACE=eth0
#INLABEL=IN 
#OUTLABEL=OUT 
#TREAT_UNKNOWN_AS_UP=0

[time]
color={{ .color.fg }}
command=date '+%a %b %d %H:%M:%S '
interval=1
